<!DOCTYPE html>
<html>
<head>
	<title>跟着官网学Input绑定</title>
	<script type="text/javascript" src=".././vue.js"></script>
</head>
<body>
	<div id="app" align="center">
		<span>多行message是：</span>
		<p style="white-space: pre-line;">
			{{ message }}
		</p>
		<br>
		<textarea v-model="message" placeholder="添加多行消息"></textarea>

		<hr>
		<input type="checkbox" id="checkbox" name="" v-model="checked">
		<label>{{ checked }}</label>

	</div>

	<script type="text/javascript">
		let app = new Vue({
			el: "#app",
			data: {
				message: '',
				checked: false
			}
		})

	</script>

</body>
</html>